
h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
    margin: 5px;
}

#profile-card{
	position: relative;
	top: 100px;
}

.site-header {
    position: relative;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #fff;
    background: #090a0b no-repeat 50%;
    background-size: cover;
    height: 400px;
}

nav.pushpin.pinned{
    background-color:#202020;
    z-index:5;
    height:40px;
    line-height: 40px;
}

.page-footer{
    margin-top:100px;
    background-color: #202020;
}
.carousel .carousel-item {
    width:400px !important;
    top:-50px;
}

#textarea1{
    padding-bottom:100px;
}