

nav .brand-logo {
    color: black;
}

nav ul a {
    color: black;
}

nav a {
     color: black; 
}

.text-center {
    text-align: center;
}

.profile-pic {
	margin-top: 50px;
	width: 200px;
	height: auto;
    box-shadow: 0px 4px 6px 2px lightgrey;
    border-radius: 90%;
}

.h1, h1 {
    font-size: 36px;
}

.h3, h3 {
    font-size: 24px;
}

.h5, h5 {
    font-size: 14px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.5
}